/*
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
*/

.wrapper {
    width: 95%;
    margin: 0 auto;
    max-width: 700px;
    font-family: 'Poppins', sans-serif;
    padding-top: 30px;
}

.spinner-container {
    text-align: center;
}

.spinner-container i {
    font-size: 40px;
}

.main-title {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 20px 0 40px;
}

.preamble-container {
    border: 1px solid lightgray;
    border-radius: 3px;
    -webkit-box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.125);
    -moz-box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.125);
    box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.125);
    padding: 0 10px;
}

.preamble-container p {
    text-align: center;
}

.preamble-container p::first-letter {
    font-size: 2em;
    line-height: 1;
    color: lightskyblue;
}

.button {
    width: 225px;
    background: black;
    color: white;
    height: 55px;
    text-align: center;
    text-transform: uppercase;
    font-family: montserrat;
    line-height: 3.4;
    margin: 40px auto;
}

.button:hover {
    cursor: pointer;
    background: rgba(0,0,0,.85);
}

#finalCount {
    text-align: center;
    font-weight: 600;
}

.letters {
    font-family: 'Montserrat', sans-serif;
}
